body {
	color: var(--color-primary);
	background-color: var(--body-background-color);
	font-family: "Roboto", sans-serif;
}

.container {
	margin-top: calc(64px + 20px);
	padding-left: 50px;
	padding-right: 50px;
}

/**
** Animation 
*/


.heighttransition-enter {
	opacity: 0;
	max-height: 0%;
}

.heighttransition-enter-active {
	opacity: 1;
	max-height: 100%;
	transition: height 1000ms ease-in, opacity 1000ms ease-in;
}

.heighttransition-exit {
	opacity: 1;
	max-height: 100%;
	transition: height 1000ms ease-in,
	opacity 1000ms ease-in;
}

.heighttransition-exit-active {
	opacity: 0;
	max-height: 0%;
	transition: height 1000ms ease-in,
	opacity 1000ms ease-in;
}



.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	opacity: 1;
	transition: opacity 250ms ease-in;
}
.fade-exit {
	opacity: 1;
	transition: opacity 250ms ease-in;
}
.fade-exit-active {
	opacity: 0;
	transition: opacity 250ms ease-in;
}


/**
* ! Loader animation temporaire
*/

.loading {
	display: flex;
	align-items: center;
	justify-content: center;
}
.loading-spinner {

	width: 48px;
	height: 48px;
	border: 5px solid #fff;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}